<!DOCTYPE html>
<html lang="fr">

<head>
    <title>Agence des mandataires</title>
    <link rel="icon" type="image/png" sizes="32x32"  href="../images/favicon.png">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css"/>
    <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <script src="http://code.jquery.com/jquery-3.4.0.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <link href="../css/style2.css" rel="stylesheet" />
    <link href="../css/bootstrap.min.css" rel="stylesheet" />
    <link href="http://fonts.cdnfonts.com/css/gotham" rel="stylesheet">
    <link href="//db.onlinewebfonts.com/c/94433ee5f9af1127448781236a6d95c7?family=CavoliniW15-BoldItalic" rel="stylesheet" type="text/css"/>
    <script src="../javascript/javascript.js"></script>




</head>
<body>


{{> header}}



<div id="detailAchat" style="font-family: Gotham, serif;">
    <div class="row">
        <div style="margin: 0 auto; width: 60%; max-height: 100%; max-width: 180rem ; ">
            <div style=" width: 100%">
                <h4 style="float: left;  ">{{bien}} • {{lieu}}</h4>
                <h3 style="float: right; ">{{prix}} €</h3>
            </div>
            <div style=" width: 100%;display: flex; margin-bottom: 2%; ">
                <h6 style="float: left">{{pieces}} Pièces • {{chambres}} Chambres • Surface de {{surface}} m²</h6>
            </div>
            <div  onclick="showModal('{{photos}}')" style="display: flex;cursor: pointer;"> <!--onclick="showPictures()" "-->
                <div style="width: 70%; height: 40rem;display: inline-block;">
                    <img style="width:auto; height: 40rem;object-fit: cover;" class="d-block w-100" src="{{photos.0}}" alt="First slide">
                </div>
                <div style="width: 30%; height: 40rem;display: inline-block; padding-left: 2px">
                    <div style="height: 20rem; ">
                        <img style="width:auto; height: calc(20rem - 0.03rem);object-fit: cover;" class="d-block w-100" src="{{photos.1}}" alt="First slide">
                    </div>
                    <div style="height: 20rem;padding-top: 0.03rem">
                        <img style="width:auto; height: calc(20rem - 0.03rem);object-fit: cover;" class="d-block w-100" src="{{photos.2}}" alt="First slide">
                    </div>
                </div>
            </div>
            <!-- The Modal -->
            <div class="carousel-inner">
                <div id="myModal" class="modal">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <div id="caption"></div>
                    <a id="a1" onclick="faireDefilerCarouselArriereAchat('myModal')" class="carousel-control-prev"  role="button" data-slide="prev"></a>
                    <a id="a2" onclick="faireDefilerCarouselAvantAchat('myModal')" class="carousel-control-next" role="button" data-slide="next"></a>

                </div>
            </div>
            </div>
    </div>
</div>

<div>
    <div style="width: 100%;  padding-left: 30px; position: relative; display: block ; text-align: center">
        <div style="margin-left: 25%; width: 50% ; margin-bottom: 1rem;font-size: 1rem;word-wrap: break-word;display: -webkit-box;-webkit-line-clamp: 5;-webkit-box-orient: vertical;">
            {{description}}
        </div>
    </div>
    <br/>
    <br/>
    <div style="margin-left: 25%; width: 50% ;">
        <h3>Caractéristiques générales</h3>
        <h5> {{plus.0}}</h5>
    </div>
    <div style="margin-left: 25%; width: 50% ;display: flex;">
        <div id="dpe" style="display: inline-block;"></div>
        <div id="ges" style="display: inline-block;"></div>

        <script src="../javascript/dpeges.js"></script>
        <script type="text/javascript">
            var dpe = new DpeGes();
            dpe.dpe({
                domId: 'dpe',
                value: 60,
            });
            var ges = new DpeGes();
            ges.ges({
                domId: 'ges',
                value: 15
            });
        </script>
    </div>
</div>
</body>

{{> footer}}
</html>