<!-- Footer -->
<footer id="footer" style="background-color: #37474F" class="page-footer font-small special-color-dark pt-4">

    <div  class="container">
        <footer class="py-3 my-4">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3" style="border-bottom-color: white; ">
                <li class="nav-item"><a style="color: white !important; font-size: large; font-family: gotham,serif" href="/notreAgence.html" class="nav-link px-2 text-muted nav">Notre agence</a></li>
                <li class="nav-item"><a style="color: white !important; font-size: large; font-family: gotham,serif" href="/achat.html" class="nav-link px-2 text-muted nav">Achat</a></li>
                <!--<li class="nav-item"><a style="color: white !important; font-size: large; font-family: gotham,serif" href="/location.html" class="nav-link px-2 text-muted nav">Location</a></li>-->
                <li class="nav-item"><a style="color: white !important; font-size: large; font-family: gotham,serif" href="/vendre.html" class="nav-link px-2 text-muted nav">Vendre</a></li>
                <li class="nav-item"><a style="color: white !important; font-size: large; font-family: gotham,serif" href="/contact.html" class="nav-link px-2 text-muted nav">Nous contacter</a></li>
            </ul>
            <p style="color: white !important; font-size: large" class="text-center text-muted">© 2022 Agence des mandataires</p>
        </footer>
    </div>

</footer>
<!-- Footer -->