<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Agence des mandataires</title>
    <link rel="icon" type="image/png" sizes="32x32" href="../images/favicon.png">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css"/>
    <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
          type="text/css"/>
    <script src="http://code.jquery.com/jquery-3.4.0.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
          type="text/css"/>
    <link href="../css/style2.css" rel="stylesheet"/>
    <link href="../css/bootstrap.min.css" rel="stylesheet"/>
    <link href="http://fonts.cdnfonts.com/css/gotham" rel="stylesheet">
    <link href="//db.onlinewebfonts.com/c/94433ee5f9af1127448781236a6d95c7?family=CavoliniW15-BoldItalic"
          rel="stylesheet" type="text/css"/>
    <script src="../javascript/javascript.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-... " crossorigin="anonymous" />


</head>
<body onload="achatWidth()">

{{> header}}
<div id="achat">
    <div class="text-center text-md-left" style="text-align: right !important; margin-top: 1%; margin-right: 4%;">
        <a type="button" class="btn btn-primary" style="color: white !important; padding: 10px 30px 10px 30px; align-content: center !important; width: 14rem" href="/signout.html" >Déconnexion</a>
        <div class="status"></div>
    </div>
    <div style="font-family: Ghotham, serif;margin: 0 auto; width: 70%; max-width: 220rem ; display: block;">
        <div  style="text-align: center;margin-bottom: 1rem;font-size: 1rem;">
            <a><img  style="margin-top: 0;" height="50" loading="lazy" src="../images/logo.jpg" alt="Logo"></a>
            <h3 style="text-align: center;margin-top: 5%; margin-bottom: 3%">Onglet de gestion du site</h3>
        </div>
    </div>
    <div>
        <div class="text-center text-md-left" style="text-align: center !important; margin-bottom: 1%">
            <a type="button" class="btn btn-primary" style="color: white !important; padding: 10px 30px 10px 30px; align-content: center !important; width: 14rem" href="/ajout.html" >Ajouter un bien</a>
            <div class="status"></div>
        </div>
        <div class="text-center text-md-left" style="text-align: center !important;">
            <a type="button" class="btn btn-primary" style="color: white !important; padding: 10px 30px 10px 30px; align-content: center !important; width: 14rem" href="/creation.html" >Ajouter un compte</a>
            <div class="status"></div>
        </div>
    </div>

    <div id="resultatsAchat">
        {{#infos}}
        <div class="row">
            <div class="carousel slide" data-ride="carousel"
                 style="margin: 0 auto; width: 60%; max-height: 30%; max-width: 180rem ; box-shadow: 0 2px 8px rgba(0,0,0,.16); display: flex; cursor: pointer">
                <div id="achat{{ID}}" style="display: inline-block; width: 55%; height: 25rem; margin-bottom: 0">
                    <div class="carousel-inner">
                        {{#images}}
                            <div class="carousel-item active">
                                <img onclick="window.location.href = 'achat/{{ID}}';"
                                     style="width:auto; height: 25rem;object-fit: cover;" class="d-block w-100"
                                     src="../images/{{ID}}ACHAT/{{.}}" alt="First slide">
                            </div>
                        {{/images}}
                    </div>
                    <a onclick="faireDefilerCarouselArriere('achat{{ID}}')" class="carousel-control-prev" role="button"
                       data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"
                          style="cursor: pointer; color:white"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a onclick="faireDefilerCarouselAvant('achat{{ID}}')" class="carousel-control-next" role="button"
                       data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"
                          style="cursor: pointer; margin-left: calc(-600%); color:white"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <div style="display: inline-block;font-family: Gotham, serif !important;border-color: rgba(90, 98, 104, 0.2); border-style: solid;border-width: 1px; height: 25rem; width: 45%; margin-top: 0">
                    <div style="width: 100%; position: absolute; margin: auto; padding-left: 30px;transform: translate(0, 10%);">
                        <div style="font-size: 1.5rem;font-weight: 500;">
                            {{Nom}}
                        </div>
                        <div style="margin-bottom: 1rem;font-size: 1.35rem;font-weight: 500;">
                            {{Pieces}} pièces • {{Surface}} m²
                        </div>
                        <div style="font-size: 1.5rem;">
                            {{Lieu}}
                        </div>
                        <div style="margin-bottom: 1rem;font-size: 1.5rem;">
                            {{Prix}}€
                        </div>
                        <div class="parent" style="margin-bottom: 1rem;font-size: 1rem;word-wrap: break-word;width: 40%;display: -webkit-box;-webkit-line-clamp: 7;-webkit-box-orient: vertical;overflow: hidden;">
                            {{Description}}
                        </div>
                    </div>
                </div>
            </div>
            <div style="display: flex; justify-content: center; align-items: center;border-style: solid;border-width: 1px; height: 5rem; width: 60%; margin-left: 20%;border-color: rgba(90, 98, 104, 0.2); box-shadow: 0 2px 8px rgba(0,0,0,.16);">
                <div style="display: flex; align-items: center;font-family: Gotham, serif !important;">
                    <form method="post" action="/delete/{{ID}}" style="margin-right: 4rem">
                        <button onclick="return confirm('Etes vous sûr de vouloir supprimer le bien ?');" type="submit" style="background-color: #f54940; border-radius: 5px; width: 10rem; ">
                            <i class="fa fa-trash"></i> Supprimer
                        </button>
                    </form>
                    <form method="get" action="/modifier.html/{{ID}}">
                        <button type="submit" style="background-color: lightgreen; border-radius: 5px; width: 10rem; ">
                            <i class="fa fa-pen"></i> Modifier
                        </button>
                    </form>
                </div>
            </div>
        </div>
        {{/infos}}
    </div>


</div>
{{> footer}}
</body>
</html>