<nav style="max-width: 100%;" class="navbar navbar-expand-lg navbar-light bg-white py-3 shadow-sm">
    <a class="navbar-brand" href="index.html"><img height="50" loading="lazy" id="imgLogo" src="../images/logo.jpg" alt="Logo"></a>
    <div id="navbarContent" class="collapse navbar-collapse">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item"><a href="" class="nav-link font-weight-bold text-uppercase nav">Nos biens</a></li>
            <li class="nav-item"><a href="" class="nav-link font-weight-bold text-uppercase nav">Notre agence</a></li>
            <li class="nav-item"><a href="" class="nav-link font-weight-bold text-uppercase nav">Vendre</a></li>
            <li class="nav-item"><a href="" class="nav-link font-weight-bold text-uppercase nav">Nous contacter</a></li>
        </ul>
    </div>
</nav>