<!DOCTYPE html>
<html lang="fr">

<head>
    <title>Agence des mandataires</title>
    <link rel="icon" type="image/png" sizes="32x32"  href="../images/favicon.png">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css"/>
    <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <script src="http://code.jquery.com/jquery-3.4.0.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <link href="../css/style2.css" rel="stylesheet" />
    <link href="../css/bootstrap.min.css" rel="stylesheet" />
    <link href="http://fonts.cdnfonts.com/css/gotham" rel="stylesheet">
    <link href="//db.onlinewebfonts.com/c/94433ee5f9af1127448781236a6d95c7?family=CavoliniW15-BoldItalic" rel="stylesheet" type="text/css"/>
    <script src="../javascript/javascript.js"></script>



</head>
<!--<body onload="recrutementWidth()">-->


{{> header}}
<div id="honoraires" style="font-family: Ghotham, serif;margin: 0 auto; width: 85%; max-width: 280rem ; display: block;">
    <div style="text-align: center;margin-bottom: 1rem;font-size: 1rem;">
        <a><img id="imageHonoraires" style="margin-top: 4%; " height="50" loading="lazy" src="../images/logo.jpg" alt="Logo"></a>
        <h3 id="titreHonoraires" style="text-align: center;margin-top: 5%; margin-bottom: 3%">BAREME de frais d’agence TTC au forfait par tranche en €</h3>
        <div id="blockHonoraires" >
            <div id="rowHonoraires" style="margin-top: 5%; text-align: center;">
                <h5 style=" text-align: center; margin-top: 1%;"><u style="margin-right: 12.5%;">Tranche</u> <a style="margin-right: 12.5%"> - </a><u> Montant</u></h5>
            </div>
            <div  style="margin-top: 2%; margin-bottom: 4%" id="imgHonoraires"><img class="img-responsive" src="../images/honoraires.PNG" width="80%"></div>

        </div>
        <div style="margin-left: 7.5%; margin-right: 10%; width: 80% ; max-width: 150rem; margin-bottom: 10%; font-size: x-large;">
            <p>Vous êtes intéressés ou vous souhaitez en savoir plus ?
                <a style="color: #dc8100; text-decoration: none;" href="/contact.html">Contactez-nous</a>
            </p>
        </div>
    </div>
</div>

</body>

{{> footer}}
</html>