<!DOCTYPE html>
<html lang="fr">

<head>
    <title>Agence des mandataires</title>
    <link rel="icon" type="image/png" sizes="32x32"  href="../images/favicon.png">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css"/>
    <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <script src="http://code.jquery.com/jquery-3.4.0.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <link href="../css/style2.css" rel="stylesheet" />
    <link href="../css/bootstrap.min.css" rel="stylesheet" />
    <link href="http://fonts.cdnfonts.com/css/gotham" rel="stylesheet">
    <link href="//db.onlinewebfonts.com/c/94433ee5f9af1127448781236a6d95c7?family=CavoliniW15-BoldItalic" rel="stylesheet" type="text/css"/>
    <script src="../javascript/javascript.js"></script>



</head>
<body>


{{> header}}
<div style="font-family: Ghotham, serif;margin: 0 auto; width: 70%; max-width: 220rem ; display: block;">
    <div style="text-align: center;margin-bottom: 1rem;font-size: 1rem;">
        <a><img  style="margin-top: 4%;" height="50" loading="lazy" src="../images/logo.jpg" alt="Logo"></a>
        <h3 style="margin-top: 5%; margin-bottom: 3%">L’Agence des mandataires est un réseau de mandataires en immobilier expérimentés, spécialisés en transactions immobilières</h3>
        <p style="text-align: left; margin-bottom: 5%">Le concept d’agence immobilière en ligne répond à une révolution digitale du marché de l’immobilier. Rayonnant sur toute la France, nos mandataires en immobilier, experts sur leur secteur se déplacent sur tout l’Hexagone ou travaillent en collaboration avec d’autres mandataires d’une autre région.</p>
    </div>
</div>

</body>

{{> footer}}
</html>