<!DOCTYPE html>
<html lang="fr">

<head>
    <title>Agence des mandataires</title>
    <link rel="icon" type="image/png" sizes="32x32"  href="../images/favicon.png">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css"/>
    <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <script src="http://code.jquery.com/jquery-3.4.0.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <link href="../css/style2.css" rel="stylesheet" />
    <link href="../css/bootstrap.min.css" rel="stylesheet" />
    <link href="http://fonts.cdnfonts.com/css/gotham" rel="stylesheet">
    <link href="//db.onlinewebfonts.com/c/94433ee5f9af1127448781236a6d95c7?family=CavoliniW15-BoldItalic" rel="stylesheet" type="text/css"/>
    <script src="../javascript/javascript.js"></script>



</head>
<body onload="recrutementWidth()">


{{> header}}
<div id="recrutement" style="font-family: Ghotham, serif;margin: 0 auto; width: 85%; max-width: 280rem ; display: block;">
    <div style="text-align: center;margin-bottom: 1rem;font-size: 1rem;">
        <a><img id="imageRecrutement" style="margin-top: 4%; " height="50" loading="lazy" src="../images/logo.jpg" alt="Logo"></a>
        <h3 id="titreRecrutement" style="text-align: center;margin-top: 5%; margin-bottom: 3%">L’Agence des mandataires recrute des commerciaux confirmés</h3>
        <div id="blockRecrutement" class="row">
            <div id="imgRecrutement" class="column"><img  src="../images/modele2.jpg"></div>
            <div id="rowRecrutement" style="width: 66.6%; text-align: left;" class="column">
                <h5 style=" margin-top: 1%; margin-left: 5%"><img  style="margin-right: 5%;" height="50" loading="lazy" src="../images/flaticon/money.png" alt="Logo"> <u style="margin-right: 1%;">Revenus attractifs</u> <a style="margin-right: 1%"> - </a> De 70 à 90% de la commission d'agence HT par palier de 30 000 euros</h5>
                <h5 style=" margin-top: 4%; margin-left: 5%"><img  style="margin-right: 5%;" height="50" loading="lazy" src="../images/flaticon/pub2.png" alt="Logo">  <u style="margin-right: 1%">Pack publicitaire gratuit</u> <a style="margin-right: 1%"> - </a>Prise en charge de la diffusion de vos mandats</h5>
                <h5 style=" margin-top: 4%; margin-left: 5%"><img  style="margin-right: 5%;" height="50" loading="lazy" src="../images/flaticon/tools.png" alt="Logo"> <u style="margin-right: 1%">Outils professionels gratuits</u> <a style="margin-right: 1%"> - </a>Mise à disposition d'outils de gestion et de prospection</h5>
                <h5 style=" margin-top: 4%; margin-left: 5%"><img  style="margin-right: 5%;" height="50" loading="lazy" src="../images/flaticon/time.png" alt="Logo"> <u style="margin-right: 1%">Conditions avantageuses</u> <a style="margin-right: 1%"> - </a>Les commissions sont payées dès la signature de l'acte</h5>
                <h5 style=" margin-top: 4%; margin-left: 5%"><img  style="margin-right: 5%;" height="50" loading="lazy" src="../images/flaticon/liberte.png" alt="Logo"> <u style="margin-right: 1%">Liberté professionnelle</u> <a style="margin-right: 1%"> - </a>Vous exercez en totale liberté votre profession</h5>
                <h5 style=" margin-top: 4%; margin-left: 5%"><img  style="margin-right: 5%;" height="50" loading="lazy" src="../images/flaticon/team.png" alt="Logo"> <u style="margin-right: 1%">Cohésion d'un réseau</u> <a style="margin-right: 1%"> - </a>Jamais seul, vous pouvez joindre à tout moment le réseau</h5>
            </div>
        </div>
        <div style="margin-left: 7.5%; margin-right: 10%; width: 80% ; max-width: 150rem; margin-bottom: 10%; font-size: x-large;">
            <p>Vous êtes intéressés ou vous souhaitez en savoir plus ?
                <a style="color: #dc8100; text-decoration: none;" href="/contact.html">Contactez-nous</a>
            </p>
        </div>
    </div>
</div>

</body>

{{> footer}}
</html>