<!DOCTYPE html>
<html lang="fr">

<head>
    <title>Agence des mandataires</title>
    <link rel="icon" type="image/png" sizes="32x32"  href="../images/favicon.png">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css"/>
    <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <script src="http://code.jquery.com/jquery-3.4.0.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <link href="../css/style2.css" rel="stylesheet" />
    <link href="../css/bootstrap.min.css" rel="stylesheet" />
    <link href="http://fonts.cdnfonts.com/css/gotham" rel="stylesheet">
    <link href="//db.onlinewebfonts.com/c/94433ee5f9af1127448781236a6d95c7?family=CavoliniW15-BoldItalic" rel="stylesheet" type="text/css"/>
    <script src="../javascript/javascript.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>



</head>
<body>


{{> header}}
<div style="font-family: Ghotham, serif;margin: 0 auto; width: 70%; max-width: 220rem ; display: block;">
    <div style="text-align: center;margin-bottom: 1rem;font-size: 1rem;">
        <a><img  style="margin-top: 4%;" height="50" loading="lazy" src="../images/logo.jpg" alt="Logo"></a>
        <h2 style="margin-top: 5%; margin-bottom: 3%">Vendre votre bien</h2>
        <h5 style="margin-top: 5%; margin-bottom: 3%">Vous souhaitez vendre votre bien, veuillez remplir ce court formulaire et nous reviendrons vers vous dans les plus brefs délais</h5>
    </div>
    <section class="mb-4">
        <div class="row">

            <!--Grid column-->
            <div class="col-md-9 mb-md-0 mb-5">
                <form id="contact-form" name="contact-form" action="https://formsubmit.co/poncyalex@yahoo.fr" method="POST">

                    <!--Grid row-->
                    <div class="row">

                        <!--Grid column-->
                        <div class="col-md-6">
                            <div class="md-form mb-0">
                                <input type="text" id="name" name="name" class="form-control">
                                <label for="name" class="">Votre nom</label>
                            </div>
                        </div>
                        <!--Grid column-->

                        <!--Grid column-->
                        <div class="col-md-6">
                            <div class="md-form mb-0">
                                <input type="text" id="email" name="email" class="form-control">
                                <label for="email" class="">Votre email</label>
                            </div>
                        </div>
                        <!--Grid column-->

                    </div>
                    <!--Grid row-->

                    <div class="row">
                        <div class="col-md-6">
                            <div class="md-form mb-0">
                                <input required type="tel" id="tel" name="tel" class="form-control">
                                <label for="tel" class="">Numéro de téléphone (facultatif)</label>
                            </div>
                        </div>
                    </div>
                    <!--Grid row-->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="md-form mb-0">
                                <input type="text" id="type" name="type" class="form-control">
                                <label for="type" class="">Type de bien</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="md-form mb-0">
                                <input type="text" id="prix" name="prix" class="form-control">
                                <label for="prix" class="">Prix (facultatif)</label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="md-form mb-0">
                                <input required type="text" id="lieu" name="lieu" class="form-control">
                                <label for="lieu" class="">Ville / Code postal</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="md-form mb-0">
                                <input required type="number" id="surface" name="surface" class="form-control">
                                <label for="surface" class="">Surface</label>
                            </div>
                        </div>
                    </div>
                    <!--Grid row-->

                    <!--Grid row-->
                    <div class="row">

                        <!--Grid column-->
                        <div class="col-md-12">

                            <div class="md-form">
                                <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>
                                <label for="message">Votre message (facultatif)</label>
                            </div>

                        </div>
                    </div>
                    <!--Grid row-->

                </form>

                <div class="text-center text-md-left" style="text-align: center !important;">
                    <a type="button" class="btn btn-primary" style="color: white !important; padding: 10px 30px 10px 30px; align-content: center !important;" onclick="validateFormVente()" >Send</a>
                    <div class="status"></div>
                </div>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-3 text-center" style="margin-top: 5%;">
                <ul class="list-unstyled mb-0">
                    <li style="margin-bottom: 20%;"><i class="fas fa-phone mt-4 fa-2x"></i>
                        <br/>
                        <a style="color: black;" href="tel:+33614087392">06 14 08 73 92</a>
                    </li>

                    <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                        <br/>
                        <a style="color: black;" type="submit" href="mailto:direction@lagencedesmandataires.com">direction@lagencedesmandataires.com</a>
                        <!--<a style="color: black;" href="mailto:poncyalex@yahoo.fr">poncyalex@yahoo.fr</a>-->
                    </li>
                </ul>
            </div>
            <!--Grid column-->

        </div>

    </section>
</div>

</body>

{{> footer}}
</html>