.megamenu {
    position: static;
}

.megamenu .dropdown-menu {
    background: none;
    border: none;
    width: 100%;
}

/* cinzel-regular - latin */
@font-face {
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 400;
    src: url('/font/cinzel-v17-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('/font/cinzel-v17-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/font/cinzel-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('/font/cinzel-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('/font/cinzel-v17-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/font/cinzel-v17-latin-regular.svg#Cinzel') format('svg'); /* Legacy iOS */
}

body {
    min-height: 100vh;
}

code {
    color: #745eb1;
    background: #fff;
    padding: 0.1rem 0.2rem;
    border-radius: 0.2rem;
}

.text-uppercase {
    letter-spacing: 0.08em;
}

.nav{
    padding-top: 40px;
    display: inline-block;
    position: relative;
    font-family: 'Cinzel', serif ;
    color: rgba(0,0,0,.5) !important;
}

.nav:hover{
    color : #FFD700 !important;
}

.nav-item{
    margin-right: 70px;
    margin-top: 1%;
}

li a {
    overflow: hidden;
    white-space: nowrap;
}
.nav-link{display:block;padding:.5rem 1rem}
.nav-link:hover{text-decoration:none}
.nav-link.disabled{color:#D6D6D6;pointer-events:none;cursor:default}

.font-weight-bold{
    font-size: larger;
    font-weight:700!important
}
.nav:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FFD700;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.nav:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.back{
    background-image: url("../images/provence2noir.jpg");
    height: 821px;
    width: 100%;
    background-position: 100%;
}

.plusbas{
    background: #D6D6D6;
    background: -webkit-linear-gradient(to right, #D6D6D6, #D6D6D6);
    background: linear-gradient(to right, #D6D6D6, #D6D6D6);
}

.img{
    max-width: 100%;
    height: auto;
}

/* width */
html::-webkit-scrollbar {
    width: 0.83rem;
    height: 0;
    background-color: #F5F5F5;
}

/* Track */
html::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}

/* Handle */
html::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #ba903b;
}

/* Handle on hover */
html::-webkit-scrollbar-thumb:hover {
    background: #8A6A29;
}

@media only screen and (max-width: 400px) {
    #mobile-icon {
        display: block !important;
    }
    #myTopnav {
        display: none;
    }
    #imgMaison{
        content:url("../images/provence400px.jpg");
        width: 100%;
    }
    #fenetreForm {
        margin-left: 5% !important;
        width: 90% !important;
        margin-top: 20% !important;
    }
    #borderTop {
        border: none !important;
    }
    #borderBot {
        border: none !important;
    }
    .column {
        width: 100% !important;
        float: none !important;
    }
    #carouselExampleControls1 {
        width: 75% !important;
        margin-left: 12.5% !important;
    }
    #carouselExampleControls2 {
        width: 75% !important;
        margin-left: 12.5% !important;
    }
    #carouselExampleControls3 {
        width: 75% !important;
        margin-left: 12.5% !important;
    }
    .listAchat {
        flex-direction: column !important;
        margin-left: 0 !important;
        text-align: left !important;
    }
    #achatLoc {
        margin-left: 0;
    }
    #achatPays {
        margin-top: 5% !important;
        margin-left: 0;
        margin-bottom: 1.5rem !important;
    }
    #achatPrix {
        margin-left: 0;
        margin-bottom: 2rem !important;

    }
    #achatRechercher {
        margin-left: 0;
    }
    #btnRechercher {
        width: 310px !important;
        margin-right: 35px !important;
    }
    .nav-item {

        margin-right: 0 !important;
    }
    .form-group{
        width: 310px !important;
    }
    #notreAgence{
        width: 90% !important;
    }
    h3 {
        font-size: large !important;
    }
}

@media only screen and (max-width: 600px)  and (min-width: 401px) {
    #mobile-icon {
        display: block !important;
    }
    #myTopnav {
        display: none;
    }
    #imgMaison{
        content:url("../images/provence600px.jpg");
        width: 100%;
    }
    #fenetreForm {
        margin-left: 5% !important;
        width: 90% !important;
        margin-top: 20% !important;
    }
    #borderTop {
        border: none !important;
    }
    #borderBot {
        border: none !important;
    }
    .column {
        width: 100% !important;
        float: none !important;
    }
    #carouselExampleControls1 {
        width: 75% !important;
        margin-left: 12.5% !important;
    }
    #carouselExampleControls2 {
        width: 75% !important;
        margin-left: 12.5% !important;
    }
    #carouselExampleControls3 {
        width: 75% !important;
        margin-left: 12.5% !important;
    }
    .listAchat {
        flex-direction: column !important;
        margin-left: 0 !important;
        text-align: left !important;
    }
    #achatLoc {
        margin-left: 0;
    }
    #achatPays {
        margin-top: 5% !important;
        margin-left: 0;
        margin-bottom: 1.5rem !important;
    }
    #achatPrix {
        margin-left: 0;
        margin-bottom: 2rem !important;

    }
    #achatRechercher {
        margin-left: 0;
    }
    #btnRechercher {
        width: 350px !important;
        margin-right: 35px !important;
    }
    .nav-item {
        margin-right: 0 !important;
    }
    .form-group{
        width: 350px !important;
    }
    #notreAgence{
        width: 90% !important;
    }
    h3 {
        font-size: large !important;
    }

}

@media only screen and (max-width: 999px) and (min-width: 601px) {
    #fenetreForm {
        margin-left: 20% !important;
        width: 60% !important;
    }
    #borderTop {
        border: none !important;
    }
    #borderBot {
        border: none !important;
    }
    #mobile-icon {
        display: block !important;
    }
    #myTopnav {
        display: none;
    }
    #imgMaison{
        content:url("../images/provence1000px.jpg");
        width: 100%;
    }
    .column {
        width: 100% !important;
        float: none !important;
    }
    #carouselExampleControls1 {
        width: 75% !important;
        margin-left: 12.5% !important;
    }
    #carouselExampleControls2 {
        width: 75% !important;
        margin-left: 12.5% !important;
    }
    #carouselExampleControls3 {
        width: 75% !important;
        margin-left: 12.5% !important;
    }
    .listAchat {
        flex-direction: column !important;
        margin-left: 0 !important;
        text-align: left !important;
    }
    #achatLoc {
        margin-left: 0;
    }
    #achatPays {
        margin-top: 5% !important;
        margin-left: 0;
        margin-bottom: 1.5rem !important;
    }
    #achatPrix {
        margin-left: 0;
        margin-bottom: 2rem !important;

    }
    #achatRechercher {
        margin-left: 0;
    }
    #btnRechercher {
        width: 550px !important;
        margin-right: 35px !important;
    }
    .nav-item {

        margin-right: 0 !important;
    }
    .form-group{
        width: 550px !important;
    }
    #notreAgence{
        width: 90% !important;
    }
    h3 {
        font-size: large !important;
    }
}


@media only screen and (max-width: 1200px) and (min-width: 1000px) {
    #fenetreForm {
        margin-left: 50% !important;
        width: 30% !important;
        margin-top: 70px !important;
    }
    .nav-item {
        margin-right: 0;
    }
    .nav {
        font-size: medium;
    }
    #achatLoc {
        margin-right: 3% !important;
    }
    #achatPays {
        margin-right: 3% !important;
    }
    #achatPrix {
        margin-right: 3% !important;
    }
    #imgRecrutement {
        width: 100% !important;
    }
    #rowRecrutement {
        width: 100% !important;
    }
    #rowRecrutement, .h5 {
        text-align: left !important;
        margin-left: 5%;
    }
    #notreAgence{
        width: 90% !important;
    }
    h3 {
        font-size: large !important;
    }
}

@media only screen and (max-width: 1500px) and (min-width: 1201px) {
    #fenetreForm {
        margin-left: 60% !important;
        width: 25% !important;
        margin-top: 100px !important;
    }
    .nav-item {
        margin-right: 30px;
    }
    .nav {
        font-size: medium;
    }
    #achatLoc {
        margin-right: 4% !important;
    }
    #achatPays {
        margin-right: 4% !important;
    }
    #achatPrix {
        margin-right: 17% !important;
    }
    #imgRecrutement {
        width: 40% !important;
    }
    #rowRecrutement {
        width: 60% !important;
    }
}


@media only screen and (min-width: 1501px) and (max-width: 1750px) {
    #achatLoc {
        margin-right: 7.5% !important;
    }
    #achatPays {
        margin-right: 7.5% !important;
    }
    #achatPrix {
        margin-right: 42% !important;
    }
}

#resultatsAchat {
    margin: 0 auto;
    max-width: 125rem ;
}



#mobile-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
    background-color: white;
}

#mobile-icon div {
    width: 35px;
    height: 3px;
    background-color: #ba903b;
    margin: 6px 0;
    transition: 0.4s;
}

#imgLogo {
    display: flex;
    align-items: center;
}

#imgMobile {
    position: absolute;
    top: -4px;
    left: 20%;
    background-color: white !important;
}
.open .bar1 {
    margin-top: 10px;
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
    margin-top: 10px;
    opacity: 0;
}

.open .bar3 {
    margin-top: 10px;
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.mobile-menu {
    text-align: center;
    list-style : none;
    display: none;
    position: absolute;
    top: 90px;
    left: 0;
    height: calc(100vh - 50px);
    width: 100%;
    margin:0;
    padding:0;
}

.mobile-menu li {
    margin-bottom: 30px;
}

.mobile-color {
    color: black !important;
    opacity: 0.7;
}

#fenetreForm {
    position: absolute;
    background-color: black;
    margin-left: 60%;
    margin-top: 5%;
    width: 19%;
    border: 20px solid black;
    box-sizing: border-box;
    border-radius: 0.83em

}

#borderTop, #borderBot {
    border-top:1px solid black;
    box-sizing: border-box;
}

#borderMobileTop{
    height: 10px;
    background-color: white !important;
}

#borderMobileBot{
    height: 10px;
    background-color: white !important;
}

.column {
    float: left;
    width: 33.33%;
}

/* Clear floats after the columns */
.row{
    content: "";
    display: table;
    clear: both;
}

.row {
    margin-top: 2%;
    margin-bottom: 5%;
}
.trait1 {
    margin-top: 1%;
    content: "";
    right: 0;
    left: 0;
    height: 2px;
    position: absolute;
    display: block;
    width: 7rem;
    background: #ba903b;
    margin-left: calc(50% - 7rem/2);
}
.trait2 {
    margin-top: 1.5%;
    content: "";
    right: 0;
    left: 0;
    height: 3px;
    position: absolute;
    display: block;
    width: 7rem;
    background: #ba903b;
    margin-left: calc(50% - 7rem/2);
}

.listAchat {
    display: -ms-flexbox;
    display: flex !important;
    -ms-flex-direction: column;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
    justify-content: center !important;
    text-align:center;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 20%;
    right: 20%;
    font-size: 100px !important;
    color: white !important;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

.choix:hover {
    box-shadow: 0 2px 8px rgba(0,0,0,.16);
}

.img-size{
    /* 	padding: 0;
        margin: 0; */
    height: 450px;
    width: 700px;
    background-size: cover;
    overflow: hidden;
}
.modal-content {
    width: 700px;
    border:none;
}
.modal-body {
    padding: 0;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23009be1' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
    width: 30px;
    height: 48px;
}
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23009be1' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    width: 30px;
    height: 48px;
}

#detailImages {
    display: none;
}

