.titre{
    margin-left: -6%;
}

.menu{
margin-left: 7%;
}

/* TESTS */
{box-sizing: border-box;}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    bottom: 30%;
    right: 38%;
    border: 3px solid #f1f1f1;
    z-index: 9;
}




/* PAS TOUCHER */
.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}

.form-container-inscr {
    width: max-content;
    max-width: max-content;
    padding: 10px;
    background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
    background-color: #56baed;
    color: white;
    position: center;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}

/* FORM INSCR */
.form-popup-inscr {
    display: block;
    position: fixed;
    bottom: 8%;
    left: 5%;
    z-index: 9;
}


/* Full-width input fields */
.form-container-inscr input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container-inscr input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit/login button */
.form-container-inscr .btn {
    background-color: #56baed;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container-inscr .cancel {
    background-color: red;
}

/* Add some hover effects to buttons */
.form-container-inscr .btn:hover, .open-button:hover {
    opacity: 1;
}